@model MGG.Crud.Application.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Produtos";
}

<div class="d-flex justify-content-center">
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "col-6", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Name, new { @class = "" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description, new { @class = "" })
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        </div>
        <div class="d-flex justify-content-center row form-group pt-5 px-1">
            <a href="@Url.Action("Index", "Product")" class="btn btn-link text-uppercase">Voltar</a>
            <input type="submit" class="btn btn-secondary text-uppercase" value="Criar" />
        </div>
    }
</div>