@model PagedList.IPagedList<MGG.Crud.Application.ViewModels.ProductViewModel>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Produtos</h1>
        <p class="lead">Todos o produtos cadastrados serão apresentados na lista abaixo. Você poderá editar, deletar ou criar um novo produto, se estiver logado.</p>
    </div>
    <div class="text-right"><a class="btn btn-warning" href="@Url.Action("Create","Product")">Criar produto</a></div>
</div>

<h3 class="text-center pb-3 text-uppercase">Lista de produtos</h3>
<div class="d-flex justify-content-center table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayName("Nome")</th>
                <th scope="col">@Html.DisplayName("Breve Descrição")</th>
                <th scope="col">@Html.DisplayName("Data criação")</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.RegisterDate.ToString("dd/MM/yyyy")</td>
                        <td class="btn-group btn-group-toggle input-group d-flex justify-content-center">
                            <a href="@Url.Action("Edit", "Product", new {@id = item.Id})" class="btn btn-sm btn-outline-secondary text-uppercase">Editar</a>
                            <a href="@Url.Action("Details", "Product", new {@id = item.Id})" class="btn btn-sm btn-outline-info text-uppercase">Detalhes</a>
                            <a href="@Url.Action("Delete", "Product", new {@id = item.Id})" class="btn btn-sm btn-outline-danger text-uppercase">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<span class="d-flex justify-content-center">@Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }))</span>

