@model MGG.Crud.Infra.CrossCutting.Identity.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="text-uppercase text-dark font-weight-bold">Registrar</h1>
    </div>
</div>
<div class="container">
    <div class="row no-gutters">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col-12 col-lg-6", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-uppercase">Informações pessoais</h4>

            <div class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                <div class="text-danger">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Password, new { @class = "col-form-label" })
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                <div class="text-danger">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                <div class="text-danger">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>

            <div class="form-group">
                <a href="@Url.Action("Index", "Home")" class="btn btn-link text-uppercase">Voltar</a>
                <input type="submit" class="btn btn-primary text-uppercase" value="Register"/>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
